<tr>
  <td class="h-32"></td>
</tr>
<tr>
  <td>
    <h2 class="text-gray-900 dark:text-white">Latest Posts</h2>
    <table class="w-full">
      <tr>
        <td class="p-24 bg-gray-100 dark:bg-gray-900 rounded">
          <a
            href="https://notiz.dev/blog/media-observable?utm_campaign=first-newsletter&utm_source=newsletter&utm_medium=email"
            class="text-base no-underline text-gray-900 dark:text-white"
          >
            <p class="m-0 mb-4 text-sm text-gray-600 dark:text-gray-500">
              23 September 2021
            </p>
            <h2 class="m-0 mb-24 text-2xl text-primary leading-24">
              Media Queries with RxJS
            </h2>
            <p class="m-0 mb-24 text-base">
              Media Queries | Practical examples with RxJS
            </p>

            <p>
              <span class="text-primary">&rarr;</span>
              Read more
            </p>
          </a>
        </td>
      </tr>
      <tr>
        <td class="h-12"></td>
      </tr>
      <tr>
        <td class="p-24 bg-gray-100 dark:bg-gray-900 rounded">
          <a
            href="https://notiz.dev/blog/type-safe-file-uploads?utm_campaign=first-newsletter&utm_source=newsletter&utm_medium=email"
            class="text-base no-underline text-gray-900 dark:text-white"
          >
            <p class="m-0 mb-4 text-sm text-gray-600 dark:text-gray-500">
              26 August 2021
            </p>
            <h2 class="m-0 mb-24 text-2xl text-primary leading-24">
              NestJS: Type-safe File Uploads
            </h2>
            <p class="m-0 mb-24 text-base">
              Learn how to apply Swagger decorators for type-safe file upload
              endpoints.
            </p>

            <p>
              <span class="text-primary">&rarr;</span>
              Read more
            </p>
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
