<tr>
  <td class="h-48"></td>
</tr>
<tr>
  <td class="text-center text-gray-600 text-xs px-24">
    <p class="m-0 mb-4">
      <a
        href="https://notiz.dev"
        class="text-primary no-underline hover:underline"
      >
        <img class="h-32 w-full" src="https://notiz.dev/assets/img/logo.svg" />
        notiz.dev
      </a>
    </p>
    <p class="cursor-default">
      <a
        href="{{page.notiz.github}}"
        class="text-primary no-underline hover:underline"
      >
        GitHub
      </a>
      &bull;
      <a
        href="{{page.notiz.twitter}}"
        class="text-primary no-underline hover:underline"
      >
        Twitter
      </a>
    </p>
  </td>
</tr>
