<tr>
  <td class="h-12"></td>
</tr>
<tr>
  <td class="text-center text-gray-900 dark:text-white text-xs px-24">
    <p class="m-0 mb-4">
      You’re receiving this email because you're subscribed to the notiz.dev
      newsletter for the latest web development information. Not sure if its
      useful for you?
      <a
        href="{{page.notiz.website}}/unsubscribe?uuid=@{{uuid}}"
        class="text-primary no-underline hover:underline"
      >
        Unsubscribe.
      </a>
    </p>
  </td>
</tr>
