<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-cool-gray-200">
          <table class="w-600 sm:w-full">
            <component src="logo.html"></component>
            <tr>
              <td align="center" class="sm:px-24">
                <table class="w-full">
                  <tr>
                    <td
                      class="
                        bg-gray-100
                        text-gray-900
                        dark:bg-gray-900 dark:text-white
                        text-base text-left
                        p-32
                        sm:px-16
                        leading-24
                        rounded
                      "
                    >
                      <table class="w-full">
                        <tr>
                          <td>
                            <h1 class="leading-tight">{{ page.title }}</h1>
                          </td>
                        </tr>
                        <tr>
                          <td class="prose">
                            <md
                              src="src/content/{{page.content}}"
                            ></md>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>  
                 
                  <if condition="page.posts">
                    <component src="posts.html"></component>
                  </if>
                  <component src="footer.html"></component>
                  <component src="unsubscribe.html"></component>
                
                  <tr>
                    <td class="h-48"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
