---
title: 'First Newsletter'
preheader: 'Finally, first newsletter from notiz.dev is here.'
content: first-newsletter.md
urlParameters:
  utm_campaign: first-newsletter
posts:
  - title: Media Queries with RxJS
    description: 'Media Queries | Practical examples with RxJS'
    date: 23 September 2021
    link: /blog/media-observable
  - title: 'NestJS: Type-safe File Uploads'
    description: 'Learn how to apply Swagger decorators for type-safe file upload endpoints.'
    date: 26 August 2021
    link: /blog/type-safe-file-uploads
---

<extends src="src/layouts/newsletter.html"> </extends>
