---
title: 'First Newsletter'
preheader: 'Finally, first newsletter from notiz.dev'
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-cool-gray-200">
          <table class="w-600 sm:w-full">
            <component src="logo.html"></component>
            <tr>
              <td align="center" class="sm:px-24">
                <table class="w-full">
                  <tr>
                    <td
                      class="
                        bg-gray-100
                        text-gray-900
                        dark:bg-gray-900 dark:text-white
                        text-base text-left
                        p-32
                        sm:px-16
                        leading-24
                        rounded
                      "
                    >
                      <table class="w-full">
                        <tr>
                          <td>
                            <h1>{{{ page.title }}}</h1>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <md src="src/content/first-newsletter.md"></md>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <component src="footer.html"></component>
                  <component src="unsubscribe.html"></component>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
